.table {
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
  padding: 10px;
}

th,
td {
  border: 1px solid #000000;
  padding: 5px;
  text-align: center;
}

table td svg {
  height: 34px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.sort {
  cursor: pointer;
}

.sort:hover {
  background-color: cadetblue;
}