.container {
  display: flex;
  gap: 16px;
  padding: 0px 20px 0px 20px;
}

.track {
  height: 60px;
  width: 100%;

  display: flex;
  align-items: center;

  background-color: cadetblue;

  border-radius: 8px;

  position: relative;

}

.track::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 50%, transparent 50%);
  background-size: 30px 2px; 
  transform: translateY(-50%);
  z-index: 1; 
}

.controlBox {
  max-width: 100px;
  display: flex;
  align-items: center;
  gap: 10px
}

.engineBox {
  display: flex;
  flex-direction: column;
  gap: 3px
}

.carName {
  position: relative;
  z-index: 3;
  background-color: cadetblue;
  text-transform: uppercase;
}

.carIcon {
  position: relative;
  z-index: 11
}